# OMDB API
OMDB_API_KEY=SuaChaveAqui
OMDB_BASE_URL=https://www.omdbapi.com/?t=

# Banco de dados
DB_URL=jdbc:postgresql://localhost/seu_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

# Dialeto do Hibernate
HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
