# --- Banco de Dados (PostgreSQL) ---
DB_URL=jdbc:postgresql://localhost/seu_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

# --- Configurações do Hibernate ---
HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# --- API de Inteligência Artificial (Google Gemini) ---
GEMINI_API_KEY=sua_chave_api
